<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
<h1>All Animals!</h1>

{{#each animals}}
<h2>{{animalType}}</h2>
<ul>
  <li>Pet: {{pet}}</li>
  <li>Fierceness: {{fierceness}}</li>
</ul>
{{/each}}