/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */

@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab|Sunflower:300');

.thought1{
    font-family: "Oswald", sans-serif;
}

.thought2{
    font-family: 'Sunflower', sans-serif;
}

.thought3{
    font-family: 'Roboto Slab', serif;
}